*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}


.wrapper{
  height:90vh;
}

.input-box{
  background: #eee;
}

.line{
  height:2px;
  
}

.button{
  background:#eee;
  cursor:pointer;
}

.card{
  align-self: center;
}